.join_div {
    width: 400px;
    padding: 30px;
    border: 1px solid gray;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_form {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.input_form > label {
    font-weight: bold;
    margin-bottom: 10px;
}

.input_form > input {
    margin-bottom: 20px;
}

.btn_div {
    display: flex;
    justify-content: space-between;
}