.container {
  width: 50%;
  margin: 10px auto;
  text-align: center;
}

.container > input {
  margin: 10px;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

#todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoLi {
  width: 50%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnDiv > button {
  margin-left: 10px;
}