* {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.section-title {
  margin: 1rem;
  text-align: center;
}

.header > nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header > nav > ul {
  display: flex;
  align-items: center;
}

.header > nav > ul > li {
  margin: 0 10px;
}

.header > img {
  width: 100%;
}

.container {
  width: 65%;
  margin: 2rem auto;
}

.about {
  display: flex;
}

.about > img {
  display: block;
  width: 40%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 50px;
}

.about > div {
  padding: 1rem;
}

.about > div > h2 {
  text-align: center;
  margin: 1rem;
}

.about > div > p {
  line-height: 1.5rem;
}

.contact > div {
  display: flex;
  justify-content: space-evenly;
}
.contact > div > img {
  width: 35%;
}
.contact > h2 {
  text-align: center;
  margin: 1rem;
}

.contact-form {
  border: 1px solid;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 35%;
}

.contact-form > * {
  margin: 3px;
}

.contact-form > input[type='submit'] {
  width: 100px;
}

.more {
  margin-bottom: 2rem;
}

.more > h2 {
  text-align: center;
  margin: 1rem;
}

.more img {
  width: 40px;
}

.more-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
